html, body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 10px;
  
  }
  
  * {
    box-sizing: border-box;
  }

  body {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
  }
  
  #root {
    display: flex;
    width: 100%;
    height: 100%;
  }
  
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .App {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: #093028;
    background: -webkit-linear-gradient(to bottom, #237A57, #093028);
    background: linear-gradient(to bottom, #237A57, #093028);

}

.icon {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}
